{% extends "layout.html" %}
{% load static %}

{% block title %}
  <style type="text/css">
    #index-banner{
      background-image: url("{% static 'images/back.svg' %}");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block body %}

  <div class="section no-pad-bot" id="index-banner" style="padding-top: 10em; padding-bottom: 10em;">
    <div class="container">
      <br><br>
      <div class="card">
      <form action="search/" method="post">
        {% csrf_token %}
        <div class="row center">

              <div class="input-field col s12 center">
                <i class="material-icons prefix">find_in_page</i>
                <input id="icon_prefix" type="text" class="validate" name="searchVal">
                <label for="icon_prefix">Search Notes</label>
              </div>

        </div>
      </form>
      </div>
      <br><br>

      </div>
    </div>



  <div class="container">
    <div class="row">
      <div class="col s12">
        <blockquote class="flow-text">
          RECENT UPLOADS
        </blockquote>
      </div>

      <div class="col s12">
        <ul class="collection">
          {% for note in notes %}
           <li class="collection-item avatar">
            <a href="{{ note.file.url }}"><i class="material-icons circle green">description</i>
            <span class="title">{{ note.name }}</span></a>
            <p>Posted on {{ note.date_posted }}<br>
               Posted by: {{ note.author.name }}
            </p>
            <a href="{{ note.file.url }}" download class="secondary-content"><i class="material-icons">file_download</i></a>
          </li>
          {% endfor %}
        </ul>
      </div>


    </div>
  </div>
   {% include 'footer.html' %}
{% endblock %}

{% block customjs %}
  <script type="text/javascript">
      $(document).ready(function(){
        $('.tooltipped').tooltip();
      });
  </script>
  <script>
  $(document).ready(function(){
    $('.modal').modal();
  });
  </script>
{% endblock %}
