{% extends "layout.html" %}

{% block body %}

<div class="container">
  <blockquote class="flow-text">
    Search results
  </blockquote>
  <p>Showing results for <em class="blue-text">{{key}}</em></p>
  <div class="row">

      <div class="col s12">
        <ul class="collection">
          {% for d in data %}
           <li class="collection-item avatar">
            <a href="{{ note.file.url }}"><i class="material-icons circle green">description</i>
            <span class="title">{{ d.name }}</span></a>
            <p>Posted on {{ d.date_posted }}<br>
               Posted by: {{ d.author.name }}
            </p>
            <a href="{{ d.file.url }}" download class="secondary-content"><i class="material-icons">file_download</i></a>
          </li>
          {% endfor %}
        </ul>
      </div>

  </div>
</div>
{% include 'footer.html' %}
{% endblock %}
