body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}
#brandname{
    float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 30px;
  text-decoration: none;
  font-size: 40px;
  border-bottom: 3px solid transparent;
}
.topnav {

  background-color: #333333;
  overflow: hidden;
}
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a.active {
  border-bottom: 3px solid red;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
  font-family: 'Mukta Mahee', sans-serif;
}


p {
    margin: 0;
    letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
}


p,
ul,
ol {
    font-size: 14px;
    letter-spacing: 1px;
}

.carousel-caption h2,
.carousel-caption h3 {
	font-size: 3.3em;
	font-weight: 600;
	letter-spacing: 1px;
}

.carousel .item {
    background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../../images/unauth/ban11.jpg) no-repeat;
    background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../../images/unauth/ban11.jpg) no-repeat;
    background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../../images/unauth/ban11.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../../images/unauth/ban11.jpg) no-repeat;
    background-size: cover;
}


.carousel-caption p {
    letter-spacing: 4px;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 300;
    color: #fff;
    margin: 1em auto 2em;
    width: 70%;
}

.carousel-caption {
	position: inherit;
	min-height: 620px!important;
	padding-top: 15em;
	text-align: center;
}
.carousel-control {
	line-height: 33em;
}
/*-- welcome section --*/
.skills,.w3layouts-welcome,.team,.footer-top,.contact,.w3ls-welcome_sec,.agile-stats{
    padding: 4em 0em;
}
.w3-services{
 padding: 8em 0em 0 0;
}
 .wls_head_all h3{
	 font-size: 3em;
    color: rgba(245,63,123,0.77);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
	margin-bottom:30px;	 
}
.w3ls-welcome_sec_about-head .span1 {
    width: 34px;
    padding: 0px 25px;
    height: 90px;
    border: 2px solid #000;
    border-right: none;
    position: absolute;
    right: 33%;
    top: -11%;
}
.w3l-welcome_info{
	padding-left:0;
}
.w3l-welcome_info h3,.auto_sec h3,.feature_head h3{
	font-size: 35px;
    color: rgba(72,98,196,0.77);
}
.w3l-welcome_info span{
	background: #ff007f;
    display: block;
    height: 2px;
    width: 18%;
    margin-top: 12px;
}
.w3l-welcome_info h4{
	font-size: 20px;
    color: rgb(72, 98, 196);
    font-weight: 500;
    margin: 20px 0;
    font-style: italic;
    letter-spacing: 1px;
}
.w3l-welcome_info p{
	    font-size: 16px;
    line-height: 1.8em;
    margin-top: 16px;
    color: #969696;
	font-size: 1em;
}
.w3l-welcome_info a{
	color: #fff;
    font-weight: 400;
    background: rgba(72,98,196,0.77);
    text-decoration: none;
    padding: 8px 20px;
    margin-top: 30px;
    display: inline-block;
	font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 1px;
}
.w3l-welcome_info a:hover {
	background: #f6cc4c;
}
.w3l-welcome_pic{
	padding:0 0 0 3em;
}
.w3l-welcome_pic h2{
	color:rgb(72, 98, 196);
    font-size: 25px;
}
.w3l-welcome_pic img{
	margin:2em 0 1em 0;
}
.w3l-welcome_pic h3{
	color:rgb(72, 98, 196);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.w3l-welcome_pic p{
    margin-top: 16px;
    color: #969696;
	font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 0px;
}
/*-- //welcome section --*/
/*--services --*/
.w3-services{
   background: url(../../images/unauth/s33.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height:441px;
}
.w3-services-left-grid h3 {
    color:rgba(245,63,123,0.77);
}
.w3-services-left-grid h4 {
    font-size: 1.4em;
    font-weight: 300;
    color: #fff;
	margin-bottom: 1em;
}
.w3-services-left-grid p {
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 0px;
    color: #fff;
	padding: 0 3em;
}
.w3-icon-grid1 i {
    font-size: 3em;
    color:rgb(239, 102, 147);
}
.w3-icon-grid-gap1 {
    margin: 1em 0 4em 0;
}
.w3-services-right-grid h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}
.w3-services-left-grid {
    text-align: center;
}

  
/*-- //events-top --*/
.events-top {
    padding-bottom: 6em;
}
.events-top {
    padding-bottom: 6em;
}
ul.portfolio_agile_info_w3ls li {
    list-style: none;
    display: inline-block;
    width: 33%;
    margin-bottom: 0.3%;
}
.agileits_w3layouts_events_text.port_info_agile {
    text-align: center;
    padding: 1em 0;
    background:rgba(72,98,196,0.77);
    color: #fff;
    border-bottom: 2px solid #000000;
}
/*--Gallery--*/
/*-- team --*/
.team-left {
    float: left;
    width: 33%;
    background: #bfdb39;
    text-align: center; 
    border: 2px solid rgba(72,98,196,0.77);
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
} 
.team-right {
     float: right;
    width: 67%;
    padding: 2.2em 2em;
    -webkit-box-shadow: 1px 2px 6px 0px rgba(245,63,123,0.77);
    -moz-box-shadow: 1px 2px 6px 0px rgba(245,63,123,0.77);
    box-shadow: 1px 2px 6px 0px rgba(245,63,123,0.77);
	
}
.team-right h4 {
    font-size: 1.5em;
    color: #333; 
}
.team-right p {
    margin: 1em 0;
}
.team-w3lsgrids:hover .team-left {
    background: none;
} 
.team-info.team-row2 {
    margin-top: 3.5em;
}


	
	/*-- /responsive design --*/
@media(max-width:1440px){
}
@media(max-width:1366px){
}
@media(max-width:1280px){
}
@media(max-width:1080px){
	.carousel-caption {
    min-height: 530px!important;
    padding-top: 11em;
}
.w3-services-right-grid h3 {
    font-size: 19px;
    letter-spacing: 2px;
}
}
@media(max-width:1024px){
	.w3-services-left-grid.wls_head_all {
    width: 100%;
}
.w3-services-right-grid {
    width: 100%;
}
.w3-services {
    padding: 4em 0em 0 0;
}
.w3-services {
    min-height: 490px;
}
.mask i {
    font-size: 2.5em;
    color: #fff;
    line-height: 6em;
}
.w3-icon-grid-gap1 {
    margin: 4em 0 4em 0;
}
.w3-services {
    min-height: 526px;
}
}
@media(max-width:991px){
	.w3l-welcome_info {
    width: 100%;
    margin: 0 0 2em 0;
}
.w3l-welcome_pic {
    width: 100%;
    margin: 2em 0 0 0;
}
.w3-icon-grid1 {
    width: 25%;
    float: left;
}
.team-left {
    float: none;
    width: 50%;
}
.team-right {
    float: right;
    width: 100%;
}
.team-w3lsgrids {
    width: 50%;
    float: left;
}
ul.portfolio_agile_info_w3ls li {
    width: 32%;
}
.mask i {
    line-height: 5em;
}
.address {
    width: 80%;
    margin: 0 auto;
}
.w3-agile-address-left {
    width: 20%;
    float: left;
}
.contact-form {
    width: 100%;
    margin: 2em 0 0 0;
}
.carousel-caption {
    min-height: 450px!important;
    padding-top: 9em;
}
.carousel-indicators {
    bottom: 14%;
}
.agile-stats h3.center {
    font-size: 2.5em;
}
}
@media(max-width:800px){
	.carousel-caption p {
    width: 89%;
}
}
@media(max-width:768px){
	.w3-services {
    min-height: 554px;
}
}
@media(max-width:767px){
div#bs-example-navbar-collapse-1 {
    position: absolute;
    width: 100%;
    z-index: 999;
}
.navbar-nav>li {
    float: none;
    margin: 0 15px;
    width: 90%;
	text-align: center;
}
.nav > li {
    position: relative;
    display: inline-block;
}
.navbar-default .navbar-nav>li>a {
    width: 30%;
    margin: 0 auto;
}
.navbar-nav {
    background: #0000009c;
    margin-top: 1em;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
}
@media(max-width:736px){
	.ftr-menu ul li a {
    margin: 0 13px;
}
.w3-stats span.fa {
    padding: 18px;
    font-size: 37px;
    width: 75px;
    height: 75px;
}
}
@media(max-width:667px){
	.w3-services-right-grid h3 {
    font-size: 18px;
    letter-spacing: 1px;
}
.wls_head_all h3 {
    font-size: 2.5em;
}
.address h4 {
    font-size: 2em;
}
.mask i {
    line-height: 4em;
}
.logo2 {
    float: none;
    margin: 0 auto;
	text-align:center;
}
.ftr-menu {
    float: none;
    margin-top: 5px;
    margin: 0 auto;
}

}
@media(max-width:640px){
	.w3-services-right-grid h3 {
    font-size: 16px;
    letter-spacing: 1px;
}
}
@media(max-width:600px){
	.w3-services-left-grid p {
    padding: 0 0em;
}
.w3-icon-grid1 {
    width: 33%;
    float: left;
    margin: 2em 0 0 0;
}
.w3-icon-grid-gap1 {
    margin: 4em 0 1em 0;
}
.w3-services {
    min-height: 713px;
}
.w3-icon-grid-gap1 {
    margin: 2em 0 1em 0;
}
}
@media(max-width:568px){
	.skills, .w3layouts-welcome, .team, .footer-top, .contact, .w3ls-welcome_sec, .agile-stats {
    padding: 3em 0em;
}
.wthree_footer_top_grid {
    margin: 3em auto 0;
    width: 60%;
    text-align: center;
}
}
@media(max-width:480px){
	.carousel-caption h2, .carousel-caption h3 {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 1px;
}.carousel-indicators {
    bottom: 9%;
}
.w3-icon-grid1 {
    width: 50%;
    float: left;
    margin: 2em 0 0 0;
}
.team-left {
    float: left;
    width: 50%;
}
.team-right {
    float: right;
    width: 100%;
}
.team-w3lsgrids {
    width: 100%;
    float: left;
}
.team-left {
    float: left;
    width: 43%;
}
.team-w3lsgrids {
    width: 100%;
    float: left;
    margin: 2em 0;
}
.team-info.team-row2 {
    margin-top: 1em;
}
}
@media(max-width:414px){
	.carousel-caption h2, .carousel-caption h3 {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

.w3l-welcome_info h4 {
    font-size: 17px;
    margin: 9px 0;
    letter-spacing: 1px;
}
.w3l-welcome_pic {
    padding: 0 0 0 0em;
}
.skills, .w3layouts-welcome, .team, .footer-top, .contact, .w3ls-welcome_sec, .agile-stats {
    padding: 2em 0em;
}
.w3-icon-grid1 i {
    font-size: 2.5em;
    color: rgb(239, 102, 147);
}

}
@media(max-width:384px){
	.carousel-caption h2, .carousel-caption h3 {
    font-size: 2.2em;
}
.carousel-caption {
    min-height: 400px!important;
    padding-top: 6em;
}
.w3l-welcome_pic h2 {
    color: rgb(72, 98, 196);
    font-size: 21px;
}
}

@media(max-width:320px){
	.carousel-caption h2, .carousel-caption h3 {
    font-size: 2em;
}
.carousel-caption p {
    width: 100%;
}

.wls_head_all h3 {
    font-size: 2em;
}
.w3-services-left-grid h4 {
    font-size: 1.2em;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 1.8em;
}

.w3l-welcome_pic h2 {
    color: rgb(72, 98, 196);
    font-size: 19px;
}
.w3l-welcome_pic h3 {
    font-size: 16px;
}
.w3-icon-grid1 {
    width: 63%;
    float: none;
    margin: 0 auto 2em;
}

.w3l-welcome_info h3, .auto_sec h3, .feature_head h3 {
    font-size: 25px;
    color: rgba(72,98,196,0.77);
}
}
/*-- /responsive design --*/
.bottem-wthree-footer {
	position: bottom;
	bottom: 52px;
	width: 100%;
}

.bottem-wthree-footer p {
	text-align: center;
	font-size: 14px;
	color: #ffblackf;
	letter-spacing: 2px;
}

.bottem-wthree-footer p a {
	color: #ff5e00;
	font-size: 14px;
}

.bottem-wthree-footer p a:hover {
	color: black;
}
