{% load static %}

<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>NOTAS-About Us</title>
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<script>
         addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
      </script>
	<!-- //custom-theme -->
	
	<link href="{% static 'css/unauth/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static 'css/unauth/style1.css' %}" rel="stylesheet" type="text/css" media="all" /> 
	

	
	<link href="//fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400,500,600,700,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet"> 
</head>

<body>
	
            <div class="topnav">
                
                <a href="/about"  class="active">About Us</a>
                <a href="/contact">Contact</a>
                <a href="/" id="brandname">NOTAS</a>
 
            </div>
	<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3>NOTAS</h3>
						<p>A note sharing platform for students/teachers all at one place.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!--//banner -->

	<!-- welcome section -->
	<div class="w3layouts-welcome" id="about">
		<div class="container">
				<div class="wls_head_all">
					<h3>About us</h3>
				</div>
				<div class="w3ls-welcome_sec_about-grids">
				 <div class="col-md-6 w3l-welcome_info">
					  <h3>Welcome</h3>
					  
					  <h4>Remember everything important, stay organized, wherever you are</h4>
					  <p>NOTAS is a free web service, developed for institutes, that aims to simplify creating and distributing assignments in a paperless way
					  The primary purpose of NOTAS is to streamline the process of sharing files between teachers and students.NOTAS ties various other web services to help educational institutions go to a paperless system.</p>
					 <p> Images, pdfs and many more to be implemented can be uploaded, shared and downloaded to local storage. Functions such as like, comment, delete (Only personal posts) and share functionality is present in NOTAS. We have used best search algorithm to search all over database within a seconds. ( Updating it to Elastic Search Engine now)</p>
				 </div>
				 <div class="col-md-6 w3l-welcome_pic">
					<!-- <h2>Suspendisse massa pellentesque</h2> -->
					 <img src="{% static 'images/unauth/ab1.jpg' %}" class="img-responsive" alt=""/>
					<!-- <h3>Vestibulum efficitur lacus nulla porttitor lorem luctus.</h3> -->
					<!-- <p>Duis vitae auctor purus. Aenean feugiat nunc mauris, id porttitor turpis 
					 rhoncus sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus felis ac 
					 risus lacinia, non venenatis erat vestibulum.</p> -->
					 <p></p>
				 </div>
				 <div class="clearfix"></div>
			  </div>
		</div>
	</div>
	<!-- //welcome section -->	

	<!-- /services -->
	<div class="w3-services" id="services">
			<div class="w3-services-grids">
				<div class="col-md-4 w3-services-left-grid wls_head_all">
					<h3>OUR SERVICES</h3>
					<h4>POPULAR FEATURES</h4>
				</div>
				<div class="col-md-8 w3-services-right-grid">
				<div class="w3-icon-grid-gap1">
					<div class="col-md-3 w3-icon-grid1">
					<i class="fa fa-female" aria-hidden="true"></i>
						<h3>SEARCH NOTES</h3>
					</div>
					<div class="col-md-3 w3-icon-grid1">
					<i class="fa fa-thumb-tack" aria-hidden="true"></i>
					<h3>UPLOAD NOTES</h3>
					</div>
					<div class="col-md-3 w3-icon-grid1">
					<i class="fa fa-optin-monster" aria-hidden="true"></i>
						<h3>DELETE NOTES</h3>
					</div>
					<div class="col-md-3 w3-icon-grid1">
					<i class="fa fa-bolt" aria-hidden="true"></i>
					<h3>REVIEW NOTES</h3>
					</div>
					<div class="clearfix"></div>
					</div>
					<div class="w3-icon-grid-gap2">
					<div class="col-md-3 w3-icon-grid1">
					<i class="fa fa-modx" aria-hidden="true"></i>
					<h3>POST ARTICLE</h3>
					</div>
					<div class="col-md-3 w3-icon-grid1">
					<i class="fa fa-linux" aria-hidden="true"></i>
					<h3>FAST SEARCH</h3>
					</div>
					<div class="col-md-3 w3-icon-grid1">
					<i class="fa fa-shopping-bag" aria-hidden="true"></i>
					<h3>OPEN SOURCE</h3>
					</div>
					<div class="col-md-3 w3-icon-grid1">
					<i class="fa fa-renren" aria-hidden="true"></i>
					<h3>PLATFORM INDEPENDENT</h3>
					</div>
					<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>

	<!-- //services -->
	
		<!-- team -->
	<div id="team" class="team agileits-w3layouts">
		<div class="container"> 
			<div class="wls_head_all">
					<h3>Our Team</h3>
				</div>
			<div class="team-info wthree">
				<div class="col-md-6 team-w3lsgrids">
					<div class="team-left">
						<img class="img-responsive" src="{% static 'images/profile/aadesh.jpg' %}" alt="">
					</div>
					<div class="team-right">
						<h4>Aadesh Mirajkar</h4>
						<p>Front-end Engineer</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 team-w3lsgrids">
					<div class="team-left">
						<img class="img-responsive" src="{% static 'images/profile/aman.jpg' %}" alt="">
					</div>
					<div class="team-right">
						<h4>Aman Roy</h4>
						<p>Back-end Engineer</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="team-info team-row2">
				<div class="col-md-6 team-w3lsgrids">
					<div class="team-left">
						<img class="img-responsive" src="{% static 'images/profile/aish.jpg' %}" alt="">
					</div>
					<div class="team-right">
						<h4>Aishwairya Shelke </h4>
						<p>Documentation and testing department</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 team-w3lsgrids">
					<div class="team-left">
						<img class="img-responsive" src="{% static 'images/profile/aditya.jpg' %}" alt="">
					</div>
					<div class="team-right">
						<h4>Aditya shinde </h4>
						<p>UI/UX Designer </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //team --> 
	
<script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
    
      <footer class="bottem-wthree-footer">
         <p>
            © 2019 NOTAS | All rights reserved.
         </p>
      </footer>
</body>
</html>