{% load static %}

<!DOCTYPE HTML>
<html>
<head>
<title>Contact Us</title>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

 <link href="{% static 'css/unauth/style.css' %}" rel='stylesheet' type='text/css' media="all">

<link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">

</head>
<body>
<!--background-->
<!-- login -->
<div class="topnav">
                
                <a href="/about">About Us</a>
                <a href="/contact"  class="active">Contact</a>
                <a href="/" id="brandname">NOTAS</a>
 
            </div>
      
 <br><br><br><br><br>
	        <div class="login-w3l">	
			<div class="top-img-agileits-w3layouts">
				<h2 class="sub-head-w3-agileits">Contact Us</h2>
				<p>Fillout the form below to learn more!</p>
				<div class="login-form">	
				<form action="#" method="post">
					<input type="text" name="Name" placeholder="First Name" required="" />
					<input type="text" name="Name" placeholder="Last Name" required="" />
					<input type="email" name="Email" placeholder="Email" required="" />
					<input type="text" name="Subject" placeholder="Subject" required="" />
					<textarea name="Message" placeholder="Message" required=""></textarea>
					<input type="submit" value="Send">
				</form>	
			</div>
			</div>			
			
			<!-- //login -->
				</div> 
				<div class="clear"></div>
			<div class="footer-agileits">
			<p> © 2019 NOTAS | All rights reserved.</p>
			</div>
			<!--//login-->
</body>
</html>